# 복습

```
5명의 시험관이 채점한 어느 학생의 실기 시험 점수를 입력받아 Scores라는 list를
만듭니다.(split(), map(), list() 사용)
공정성을 위해 최고 점수와 최저점수는 제외하고 나머지 점수들의 합계를 총점으로
반영합니다.
이 학생의 최종 실기 평균을 구하세요.(아래 프로그램 구조에 따라)
```

In [2]:
scores=list(map(int,input("실기점수를 입력하세요 :").split(' ')))
min =scores[0]; max=scores[0]
for i in scores:
    if min>i:
        min=i
    if max<i:
        max=i

total=0
for i in scores:
    total += i
    
total2=total-(min+max)

print(f'이 학생의 평균 점수는 {total2/(len(scores)-2)}입니다.')

실기점수를 입력하세요 : 70 68 55 80 90

이 학생의 평균 점수는 72.66666666666667입니다.

```
파이썬대학교에서는 다음과 같이 학생들의 점수에 따라 학점을 부여합니다.
● 85점 ~ 100점: A 학점
● 70점 ~ 84점: B학점
● 55점 ~ 69점: C학점
● 40점 ~ 54점: D학점
● 0점 ~ 39점: F학점
A학점, B학점, C학점, D학점, F학점을
받은 학생들의 수로 grade_counter라는
이름의 리스트를 만들어 출력할 수 있도록
다음의 코드를 완성하세요.
점수 리스트 [86,72,98,60,45]
```

In [1]:
score=[86,72,98,60,45]

grade_counter=[0,0,0,0,0]

for i in score:
    if 85<= i <= 100:
        grade_counter[0] +=1
    elif 70<= i:
        grade_counter[1] +=1
    elif 55<= i:
        grade_counter[2] +=1
    elif 40<= i:
        grade_counter[3] +=1
    else:
        grade_counter[4] +=1
        
print(grade_counter)

[2, 1, 1, 1, 0]

```
FizzBuzz 문제
- 1 ~ 100까지의 범위를 갖습니다.
- 3의 배수는 Fizz를 출력합니다.
- 5의 배수는 Buzz를 출력합니다.
- 3과 5의 배수는 FizzBuzz를 출력합니다.
```

In [13]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print('FizzBuzz',end='\t')
    elif i%3==0:
        print('Fizz',end='\t')
    elif i%5==0:
        print('Buzz',end='\t')
    else:
        print(i, end='\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [2]:
# Ture, False의 정수 값을 응용
for i in range(1,101):
    print('Fizz'*(i%3==0) + 'Buzz'*(i%5==0) or i, end='\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

```
학생들의 이름이 들어있는 명단이 name_list라는 리스트 형태로 주어질 때 이름에 ‘m’
또는 ‘h’가 들어있는 학생의 수를 구하려고 합니다.
예를 들어 john 에는 h가 들어가 있으며, matthew 에는 m 과 h가 모두 들어있습니다.
(m과 h 모두 들어있는 이름은 하나로 취급함)
- name_list = [‘matthew’, ‘mark’, ‘luke’, ‘john’, ‘paul’, ‘peter’]
```

In [13]:
name_list=['matthew','mark','luke','john','paul','peter']
num=0
for name in name_list:
    for i in name:
        if i =='m' or i=='h':
            num +=1
            break
print(f'm 또는 h가 이름에 포함된 사람은 {num}명 입니다.')

m 또는 h가 이름에 포함된 사람은 3명 입니다.

In [11]:
# in을 사용
name_list=['matthew','mark','luke','john','paul','peter']
num=0
for i in name_list:
    if ('m' in i) or ('h' in i) :
        num += 1
print(f'm 또는 h가 이름에 포함된 사람은 {num}명 입니다.')

m 또는 h가 이름에 포함된 사람은 3명 입니다.

```
총 5명의 학생이 시험을 보았습니다. 시험 점수가 60점을 넘어 합격한 사람에게만 축하
메시지를 보내는 프로그램을 구현합니다.(불합격자에게는 메시지를 띄우지 않습니다.)
(for / while 모두 작성, continue 활용)
- marks = [90, 25, 67, 45, 80]
```

In [19]:
marks=[90,25,67,45,80]
#for문
for i in range(len(marks)):
    if marks[i]<60:
        continue
    print(f'{i+1}번 학생 축하합니다. 합격입니다.')
        

print('\n')

#while문
i=0
while i<len(marks):
    if marks[i]<60:
        i+=1
        continue
    print(f'{i+1}번 학생 축하합니다. 합격입니다.')
    i+=1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.


1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

```
주어진 리스트의 순서를 뒤집으려고 합니다. 주어진 리스트는 [1,4,2,3]이며, 순서를
뒤집은 리스트 [3, 2, 4, 1] 입니다.
정수가 들어있는 리스트 arr을 뒤집어서 인쇄하도록 빈칸을 채워 전체 코드를
완성해주세요.
```

In [28]:
arr=[1,4,2,3,5]
left, right=0,len(arr)-1

while left<len(arr)/2:
    arr[left],arr[right]=arr[right],arr[left]
    left +=1
    right -=1
print(f'변환된 arr은 {arr}입니다"')

2.5
변환된 arr은 [5, 3, 2, 4, 1]입니다"

```
<구구단>반복문을 사용하여 아래와 같이 구구단 전체를 화면에 프린트해 주세요.
for/while 모두 작성
```

In [34]:
#for문
for i in range(1,10):
    for j in range(2,10):
        print(f'{j}X{i}={j*i}',end='\t')
    print('')

#while문
print('\n') 
i=1; 
while i <10:
    j=2
    while j <10:
        print(f'{j}X{i}={j*i}',end='\t')
        j +=1
    i+=1
    print('')

2X1=2	3X1=3	4X1=4	5X1=5	6X1=6	7X1=7	8X1=8	9X1=9
2X2=4	3X2=6	4X2=8	5X2=10	6X2=12	7X2=14	8X2=16	9X2=18
2X3=6	3X3=9	4X3=12	5X3=15	6X3=18	7X3=21	8X3=24	9X3=27
2X4=8	3X4=12	4X4=16	5X4=20	6X4=24	7X4=28	8X4=32	9X4=36
2X5=10	3X5=15	4X5=20	5X5=25	6X5=30	7X5=35	8X5=40	9X5=45
2X6=12	3X6=18	4X6=24	5X6=30	6X6=36	7X6=42	8X6=48	9X6=54
2X7=14	3X7=21	4X7=28	5X7=35	6X7=42	7X7=49	8X7=56	9X7=63
2X8=16	3X8=24	4X8=32	5X8=40	6X8=48	7X8=56	8X8=64	9X8=72
2X9=18	3X9=27	4X9=36	5X9=45	6X9=54	7X9=63	8X9=72	9X9=81


2X1=2	3X1=3	4X1=4	5X1=5	6X1=6	7X1=7	8X1=8	9X1=9
2X2=4	3X2=6	4X2=8	5X2=10	6X2=12	7X2=14	8X2=16	9X2=18
2X3=6	3X3=9	4X3=12	5X3=15	6X3=18	7X3=21	8X3=24	9X3=27
2X4=8	3X4=12	4X4=16	5X4=20	6X4=24	7X4=28	8X4=32	9X4=36
2X5=10	3X5=15	4X5=20	5X5=25	6X5=30	7X5=35	8X5=40	9X5=45
2X6=12	3X6=18	4X6=24	5X6=30	6X6=36	7X6=42	8X6=48	9X6=54
2X7=14	3X7=21	4X7=28	5X7=35	6X7=42	7X7=49	8X7=56	9X7=63
2X8=16	3X8=24	4X8=32	5X8=40	6X8=48	7X8=56	8X8=64	9X8=72
2X9=18	3X9=27	4X9=36	5X9=45	6X9=54	7X9=63	8X9=72	9X9=81

# 딕셔너리(Dictionary)
```
비 시퀀스형 자료형
인덱스를 갖지 않는 대신에 고유한 키(key)값을 가짐
키(key)는 1대1로 매칭되는 값(value)를 가짐
key-value pair는 딕셔너리 자료형의 특징
```

```
키(key)에는 문자열, 정수, 실수, 불, 튜플 사용 가능
단, 리스트(list), 딕셔너리(dictionary), 집합(set)을 사용할 수 없음

키(key)는 고유한 값을 가져야 함 


```

## 딕셔너리 생성
```
dict()함수 사용 또는 {'key':value ...} 형식으로 생성
```

In [72]:
dict_a=dict(key=1,key2=2,key3=3) #인자로 전달된 키는 문자열 아니더라도 문자열로 변환
print(dict_a)

{'key': 1, 'key2': 2, 'key3': 3}

## zip() 함수
```
zip()함수를 통하여 키와 값 한 쌍을 갖는 튜플을 요소로 갖는 객체로 딕셔너리 자료형을 생성 가능

```

In [66]:
print(list(zip(['key','key2','key3'],['value','value2','value3'])))
dict_b=dict(zip(['key','key2','key3'],['value','value2','value3']))
print(dict_b)

[('key', 'value'), ('key2', 'value2'), ('key3', 'value3')]
{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

```
갯수가 맞지 않으면 갯수가 적은 것에 맞춰서 생성
```

In [40]:
dict_c=dict(zip(['1','2','3','4','5'],[1,2,3,4]))
print(dict_c)

{'1': 1, '2': 2, '3': 3, '4': 4}

## 키로 값에 접근하기
```
키를 활용하여 해당 값에 접근
```

In [36]:
print(dict_b['key'])

value

## 키로 값 변경하기
```
키로 해당 값에 접근 후 새로운 값 저장
```

In [42]:
print(dict_b)
dict_b['key']='super value'
print(dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

## 키와 값 추가하기
``` 
기존에 없는 키를 인덱스로 하여 새로운 값 저장
단, 없는 키를 접근하면 keyError가 발생
```

In [43]:
print(dict_b)
dict_b['new one']='new value'
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

## 특정 키가 딕셔너리 자료형에 있나 확인
```
in 연산자를 활용
```

In [46]:
print(dict_b)
print('key' in dict_b)
print ('key4' in dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
True
False

## 특정 키와 값의 쌍을 삭제하기
```
del 키워드를 활용하여 삭제
```

In [48]:
print(dict_b)
del dict_b['new one']
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

## 키와 값의 쌍 개수 구하기
```
len()함수를 통해 딕셔너리 자료형의 크기를 구하면 그건 키의 크기이기도 하고 값의 크기이기도 함(key-value pair) 
```

In [54]:
print(dict_b)
len(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

3

### 연습문제

```
input() 함수를 통해 원하는 과일 이름을 입력하면 가격이 출력되는 프로그램을
구현해봅시다. 과일 이름(str)을 key로 만들고 가격(int)을 value로 해서 딕셔너리
자료형을 만듭니다.
- 사과은 1000원, 바나나는 700원, 오렌지는 1500원, 파인애플은 2000원
```

In [59]:
fruit=dict(zip(['사과','바나나','오렌지','파인애플'],[1000,700,1500,2000]))
fruit_name=input('과일 이름을 입력하세요.')
print(f'{fruit_name}의 가격은 {fruit[fruit_name]}원입니다.')

과일 이름을 입력하세요. 바나나

바나나의 가격은 700원입니다.

```
input() 함수를 통해 이름 값 여럿을 입력 받습니다. 이름을 입력 받고 난 후에 이름
순서와 개수를 동일하게 몸무게 값을 입력 받습니다.
이름(str)을 키(key)로 몸무게(float)를 값(value)으로 하는 딕셔너리 자료형을 만들고 그
결과를 출력해보세요.
```

In [80]:
name=list(input('이름을 기입해주세요.').split(' '))                # split()함수는 list 반환하기 때문에 list() 함수 꼭 필요 x
weight=list(map(float,input('몸무게를 입력해주세요.').split(' '))) # map()함수는 list 반환하지 않기 때문에 list() 함수 필요
                                                                 #리스트 요소를 실수 또는 정수로 변환하기 위해서는 map 함수 이용 
name_weight_dict=dict(zip(name,weight))
print(name_weight_dict)

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

# list Comprehension
```
1. 반복가능한 객체(iterable)로부터 값을 하나 꺼내와서 변수에 담음
2. 
```

### 연습문제

In [91]:
prac_result=list(i**2 for i in range(1,10))
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]